# 1. Handle all files automatically
* text=auto

# 2. Force Python and C files to use LF (best for cross-platform)
*.py text eol=lf
*.c text eol=lf
*.h text eol=lf

# 3. Handle data files
*.json text eol=lf
*.sql text eol=lf

# 4. Denote binary files (don't touch line endings for these)
*.pyc binary
*.png binary
*.jpg binary


# Documentation and Config
README.MD text eol=lf
requirements.txt text eol=lf

# Core Python Logic
core/profile.py text eol=lf
core/synthesis.py text eol=lf

# Testing
tests/test_smoke.py text eol=lf

# General fallback for all other Python files
*.py text eol=lf